In [57]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import shapefile
from pandas.plotting import table
import matplotlib as mpl
import matplotlib.pyplot as plt
from datetime import datetime
import geopandas as gpd
import folium
from datetime import date
from folium.plugins import FastMarkerCluster
import os
# a nice way of filtering out deprecated warnings
import warnings
warnings.filterwarnings("ignore")

In [4]:
fname = ["march_taxi.csv","april_taxi.csv","may_taxi.csv","june_taxi.csv","july_taxi.csv","august_taxi.csv",
         "september_taxi.csv", "october_taxi.csv", 
         "november_taxi.csv","december_taxi.csv"]
months = ["march", "april", "may", "june", "july", "august", "september", "october", "november", "december"]

In [5]:

sf = gpd.read_file("../raw_data/taxi_zones.shp")
zone = pd.read_csv("../raw_data/taxi+_zone_lookup.csv")

# Convert the geometry shape to to latitude and longitude
# Reproduced from Lab 2 for MAST30034
sf['geometry'] = sf['geometry'].to_crs("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")

In [174]:
april = pd.read_csv("../raw_data/march_taxi.csv")

In [116]:
april.loc[(pd.DatetimeIndex(april["tpep_pickup_datetime"]).month == 3) & (pd.DatetimeIndex(april["tpep_pickup_datetime"]).day >=8)]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,pickup_day
1497226,2.0,2020-03-08 00:00:33,2020-03-08 00:11:14,2.0,1.06,1.0,N,148,4,1.0,8.00,0.5,0.5,2.36,0.00,0.3,14.16,2.5,03-08-20
1497353,2.0,2020-03-08 00:02:10,2020-03-08 00:06:24,1.0,0.73,1.0,N,74,41,2.0,5.00,0.5,0.5,0.00,0.00,0.3,6.30,0.0,03-08-20
1497609,2.0,2020-03-08 00:01:34,2020-03-08 00:04:34,1.0,0.48,1.0,N,236,262,1.0,4.00,0.5,0.5,1.00,0.00,0.3,8.80,2.5,03-08-20
1498278,2.0,2020-03-08 00:00:21,2020-03-08 00:25:46,2.0,18.62,2.0,N,132,42,1.0,52.00,0.0,0.5,11.78,6.12,0.3,70.70,0.0,03-08-20
1498328,2.0,2020-03-08 00:00:10,2020-03-08 00:06:23,2.0,1.30,1.0,N,239,163,1.0,7.00,0.5,0.5,2.16,0.00,0.3,12.96,2.5,03-08-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007287,NaN,2020-03-31 23:21:00,2020-03-31 23:33:00,NaN,5.43,NaN,NaN,137,87,NaN,30.47,0.0,0.5,0.00,0.00,0.3,33.77,2.5,03-31-20
3007288,NaN,2020-03-31 23:57:00,2020-04-01 00:26:00,NaN,13.21,NaN,NaN,137,71,NaN,37.97,0.0,0.5,0.00,0.00,0.3,41.27,2.5,03-31-20
3007289,NaN,2020-03-31 23:22:01,2020-03-31 23:43:52,NaN,12.14,NaN,NaN,137,32,NaN,37.10,0.0,0.0,0.00,0.00,0.3,39.90,2.5,03-31-20
3007290,NaN,2020-03-31 23:18:53,2020-03-31 23:32:21,NaN,7.01,NaN,NaN,137,159,NaN,20.07,0.0,0.0,0.00,0.00,0.3,22.87,2.5,03-31-20
3007291,NaN,2020-03-31 23:11:00,2020-03-31 23:30:00,NaN,6.31,NaN,NaN,185,69,NaN,23.40,0.0,0.5,0.00,0.00,0.3,24.20,0.0,03-31-20

In [175]:
april["tpep_pickup_datetime"] = pd.to_datetime(april["tpep_pickup_datetime"])

In [176]:
april = april.loc[pd.DatetimeIndex(april["tpep_pickup_datetime"]).month == 3]

In [177]:
# Code adapted from https://queirozf.com/entries/pandas-dataframe-examples-manipulating-date-and-time
april["pickup_day"] = april["tpep_pickup_datetime"].map(lambda ts: ts.strftime("%m-%d-%y"))

In [178]:
april = april.loc[(april["passenger_count"] > 0) & (april["trip_distance"] < 2000) & (april["trip_distance"] > 0) 
            & (april["fare_amount"] < 1000) & (april["fare_amount"] > 0) & (april["PULocationID"] > 0) & (april["PULocationID"] < 264)
           & (april["DOLocationID"] > 0) & (april["DOLocationID"] < 264)]

In [179]:
pickup_gdf = gpd.GeoDataFrame(pd.merge(april, sf, left_on='PULocationID', right_on='LocationID')).drop('PULocationID',axis=1)

In [180]:
pickup_gdf['count'] = 1

In [181]:
rides_per_day = pickup_gdf.groupby(["pickup_day", "LocationID"]).sum()[['count']].reset_index()
passenger_per_day = pickup_gdf.groupby(["pickup_day", "LocationID"]).mean()[['passenger_count']].reset_index()
distance_per_day = pickup_gdf.groupby(["pickup_day", "LocationID"]).mean()[['trip_distance']].reset_index()

In [182]:
rides_per_day

     pickup_day  LocationID  count
0      03-01-20           1      9
1      03-01-20           3      1
2      03-01-20           4    771
3      03-01-20           7    285
4      03-01-20           8      5
...         ...         ...    ...
5739   03-31-20         256      2
5740   03-31-20         260      8
5741   03-31-20         261     24
5742   03-31-20         262    169
5743   03-31-20         263    318

[5744 rows x 3 columns]

In [183]:
rides_per_day_merged = sf.set_index('LocationID').join(rides_per_day.set_index('LocationID'))
rides_per_day_merged = rides_per_day_merged.reset_index()
passenger_per_day_merged = sf.set_index('LocationID').join(passenger_per_day.set_index('LocationID'))
passenger_per_day_merged = passenger_per_day_merged.reset_index()
distance_per_day_merged = sf.set_index('LocationID').join(distance_per_day.set_index('LocationID'))
distance_per_day_merged = distance_per_day_merged.reset_index()

In [184]:
rides_per_day_per_borough = rides_per_day_merged.groupby(["pickup_day","borough"]).sum()[['count']].reset_index()
passenger_per_day_per_borough = passenger_per_day_merged.groupby(["pickup_day","borough"]).mean()[['passenger_count']].reset_index()
distance_per_day_per_borough = distance_per_day_merged.groupby(["pickup_day","borough"]).mean()[['trip_distance']].reset_index()

In [185]:
rides_per_day_per_borough["pickup_day"] = pd.to_datetime(rides_per_day_per_borough["pickup_day"])

In [186]:
rides_per_day_per_borough.loc[rides_per_day_per_borough["borough"] == "Staten Island"]

    pickup_day        borough  count
5   2020-03-01  Staten Island    3.0
11  2020-03-02  Staten Island    4.0
17  2020-03-03  Staten Island    5.0
23  2020-03-04  Staten Island    6.0
29  2020-03-05  Staten Island    6.0
35  2020-03-06  Staten Island    5.0
41  2020-03-07  Staten Island    6.0
47  2020-03-08  Staten Island    4.0
53  2020-03-09  Staten Island    8.0
59  2020-03-10  Staten Island    8.0
65  2020-03-11  Staten Island    6.0
71  2020-03-12  Staten Island    4.0
77  2020-03-13  Staten Island    4.0
83  2020-03-14  Staten Island    4.0
89  2020-03-15  Staten Island    8.0
95  2020-03-16  Staten Island    3.0
100 2020-03-17  Staten Island    4.0
105 2020-03-18  Staten Island    2.0
110 2020-03-19  Staten Island    2.0
116 2020-03-20  Staten Island    4.0
122 2020-03-21  Staten Island    3.0
128 2020-03-22  Staten Island    2.0
133 2020-03-23  Staten Island    5.0
139 2020-03-24  Staten Island    8.0
144 2020-03-25  Staten Island    2.0
153 2020-03-27  Staten Island    3.0
158 2020-03-28  Staten Island    3.0
163 2020-03-29  Staten Island    2.0
168 2020-03-30  Staten Island    4.0
173 2020-03-31  Staten Island    2.0

In [117]:
month_number = [3,4,5,6,7,8,9,10,11,12]

In [132]:
start_time = datetime.now()
for i in range(len(fname)):
    df = pd.read_csv("../raw_data/"+fname[i])
   
    df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
    # Code adapted from https://queirozf.com/entries/pandas-dataframe-examples-manipulating-date-and-time
    if (fname[i] == "march_taxi.csv"):
        df = df.loc[(pd.DatetimeIndex(df["tpep_pickup_datetime"]).month == 3) & (pd.DatetimeIndex(df["tpep_pickup_datetime"]).day >= 8)]
    else:
        df= df.loc[pd.DatetimeIndex(df["tpep_pickup_datetime"]).month == month_number[i]]
    df= df.loc[pd.DatetimeIndex(df["tpep_pickup_datetime"]).year == 2020]
    df["pickup_day"] = df["tpep_pickup_datetime"].map(lambda ts: ts.strftime("%m-%d-%y"))

    desc = df[["passenger_count", "trip_distance"]].describe()
    plt.style.use('seaborn-darkgrid')
    plt.figure(figsize = (15,15))
    plt.title("Passenger Count according to Trip Distance")
    plt.xlabel("Trip Distance")
    plt.ylabel("Passenger Count")
    plt.scatter(df[["trip_distance"]], df[["passenger_count"]])                                 
    
    plt.savefig('../plots/'+months[i]+"_desc_plot.png")
    plt.clf()
    
    ## Checked for valid trips since distance and fare amount has to be greater than 0 to count and pickup/dropoff locations have to be valid
    df = df.loc[(df["passenger_count"] > 0) & (df["trip_distance"] < 2000) & (df["trip_distance"] > 0) 
            & (df["fare_amount"] < 1000) & (df["fare_amount"] > 0) & (df["PULocationID"] > 0) & (df["PULocationID"] < 264)
           & (df["DOLocationID"] > 0) & (df["DOLocationID"] < 264)]
    df.to_csv("../preprocessed_data/" + months[i] + "_preprocess.csv")
    
    ## Join data with their respective geographies
    pickup_gdf = gpd.GeoDataFrame(pd.merge(df, sf, left_on='PULocationID', right_on='LocationID')).drop('PULocationID',axis=1)
   
    dropoff_gdf = gpd.GeoDataFrame(pd.merge(df, sf, left_on='DOLocationID', right_on='LocationID')).drop('DOLocationID',axis=1)
    pickup_gdf['count'] = 1
    dropoff_gdf['count'] = 1
    
    # Group data based on day and LocationID
    rides_per_day = pickup_gdf.groupby(["pickup_day", "LocationID"]).count()[['count']].reset_index()
    passenger_per_day = pickup_gdf.groupby(["pickup_day", "LocationID"]).mean()[['passenger_count']].reset_index()
    distance_per_day = pickup_gdf.groupby(["pickup_day", "LocationID"]).mean()[['trip_distance']].reset_index()
    
    # Group data based on day and LocationID
    rides_per_day = pickup_gdf.groupby(["pickup_day", "LocationID"]).count()[['count']].reset_index()
    # Merged group day data with geodata
    rides_per_day_merged = sf.set_index('LocationID').join(rides_per_day.set_index('LocationID'))
    rides_per_day_merged = rides_per_day_merged.reset_index()
    passenger_per_day_merged = sf.set_index('LocationID').join(passenger_per_day.set_index('LocationID'))
    passenger_per_day_merged = passenger_per_day_merged.reset_index()
    distance_per_day_merged = sf.set_index('LocationID').join(distance_per_day.set_index('LocationID'))
    distance_per_day_merged = distance_per_day_merged.reset_index()
#     rides_per_day_merged = sf.set_index('LocationID').join(rides_per_day.set_index('LocationID'))
#     rides_per_day_merged = rides_per_day_merged.reset_index()
    
    # Get data based on respective variables for pickups
#     passenger_location_data = pickup_gdf.groupby('LocationID').mean()[['passenger_count']].reset_index()
#     pickup_location_data = pickup_gdf.groupby('LocationID').count()[['count']].reset_index()
#     distance_location_data = pickup_gdf.groupby('LocationID').mean()[['trip_distance']].reset_index()

    
#     pickup_merged = sf.set_index('LocationID').join(pickup_location_data.set_index('LocationID'))
#     pickup_merged = pickup_merged.reset_index()
#     passenger_merged = sf.set_index('LocationID').join(passenger_location_data.set_index('LocationID'))
#     passenger_merged = passenger_merged.reset_index()
#     distance_merged = sf.set_index('LocationID').join(distance_location_data.set_index('LocationID'))
#     distance_merged = distance_merged.reset_index()


   
   

    
    # Get mean number of passengers per borough
    passenger_per_day_per_borough = passenger_per_day_merged.groupby(["pickup_day","borough"]).mean()[['passenger_count']].reset_index()
    passenger_per_day_per_borough.to_csv("../preprocessed_data/" + months[i] + "_passengers.csv")
    
    # Get count of pickups per borough
    rides_per_day_per_borough = rides_per_day_merged.groupby(["pickup_day","borough"]).sum()[['count']].reset_index()
    rides_per_day_per_borough["pickup_day"] = pd.to_datetime(rides_per_day_per_borough["pickup_day"])
    rides_per_day_per_borough.to_csv("../preprocessed_data/" + months[i] + "_rides_per_day.csv")
    
    
    pickup_geoJSON = pickup_gdf[['LocationID','geometry']].drop_duplicates('LocationID').to_json()
    
    # Get average distance per borough
#     distance_merged = distance_merged.mean()[['trip_distance']].reset_index()
    distance_per_day_per_borough = distance_per_day_merged.groupby(["pickup_day","borough"]).mean()[['trip_distance']].reset_index()
    # Get average rides per day per borough
    distance_per_day_per_borough.to_csv("../preprocessed_data/" + months[i] + "_distance.csv")
    

    m_pickups = folium.Map(location=[40.66, -73.94], tiles="Stamen Terrain", zoom_start=10)

    # Adapted from lab 2 of MAST30034
    # Plot pickup data
    folium.Choropleth(
        geo_data=pickup_geoJSON, # geoJSON 
        name='choropleth', # name of plot
        data=rides_per_day, # data source
        columns=['LocationID','count'], # the columns required
        key_on='properties.LocationID', # this is from the geoJSON's properties
        fill_color='OrRd', # color scheme
        fill_opacity=0.9,
        line_opacity=0.5,
        legend_name='Trips' # legend title
    ).add_to(m_pickups)

    m_pickups.save('../plots/' + months[i] +'foliumChoroplethPickups.html')

    m_pickups = folium.Map(location=[40.66, -73.94], tiles="Stamen Terrain", zoom_start=10)
    
    folium.Choropleth(
        geo_data=pickup_geoJSON, # geoJSON 
        name='choropleth', # name of plot
        data=passenger_per_day, # data source
        columns=['LocationID','passenger_count'], # the columns required
        key_on='properties.LocationID', # this is from the geoJSON's properties
        fill_color='OrRd', # color scheme
        fill_opacity=0.9,
        line_opacity=0.5,
        legend_name='Passenger Count' # legend title
    ).add_to(m_pickups)

    m_pickups.save('../plots/' + months[i] + 'foliumChoroplethPassengers.html')
    
    m_pickups = folium.Map(location=[40.66, -73.94], tiles="Stamen Terrain", zoom_start=10)

    folium.Choropleth(
        geo_data=pickup_geoJSON, # geoJSON 
        name='choropleth', # name of plot
        data=distance_per_day, # data source
        columns=['LocationID','trip_distance'], # the columns required
        key_on='properties.LocationID', # this is from the geoJSON's properties
        fill_color='OrRd', # color scheme
        fill_opacity=0.9,
        line_opacity=0.5,
        legend_name='Trip Distance' # legend title
    ).add_to(m_pickups)

    m_pickups.save('../plots/' + months[i] + 'foliumChoroplethDistance.html')
 
 
end_time = datetime.now()
print('Duration: {}'.format(end_time - start_time))

Duration: 0:07:09.070158

In [ ]:
passengercount_per_borough["passenger_count"]

In [ ]:
passenger_merged

In [ ]:
df[["passenger_count", "trip_distance"]].describe()

## Get averages of passenger count and round down

In [ ]:
fig, ax = plt.subplots(1, figsize=(40, 20))
ax.axis('off')
ax.set_title('Heat Map of Pickup Locations in New York', fontdict={'fontsize': '40', 'fontweight' : '3'})
# Plotting code was repurposed from 
# https://medium.com/@m_vemuri/create-a-geographic-heat-map-of-the-city-of-toronto-in-python-cd2ae0f8be55
color = 'Oranges'
vmin, vmax = pickup_merged['count'].min(), pickup_merged['count'].max()
sm = plt.cm.ScalarMappable(cmap=color, norm=plt.Normalize(vmin=vmin, vmax=vmax))
sm._A = []
cbar = fig.colorbar(sm)
cbar.ax.tick_params(labelsize=20)
m = pickup_merged.plot('count', cmap=color, linewidth=0.8, ax=ax, edgecolor='0.8', figsize=(100,200))

In [ ]:
fig.clf()

In [ ]:
fig, ax = plt.subplots(1, figsize=(40, 20))
ax.axis('off')
ax.set_title('Heat Map of Dropoff Locations in New York', fontdict={'fontsize': '40', 'fontweight' : '3'})
# Plotting code was repurposed from 
# https://medium.com/@m_vemuri/create-a-geographic-heat-map-of-the-city-of-toronto-in-python-cd2ae0f8be55
color = 'Oranges'
vmin, vmax = dropoff_merged['count'].min(), dropoff_merged['count'].max()
sm = plt.cm.ScalarMappable(cmap=color, norm=plt.Normalize(vmin=vmin, vmax=vmax))
sm._A = []
cbar = fig.colorbar(sm)
cbar.ax.tick_params(labelsize=20)
m = dropoff_merged.plot('count', cmap=color, linewidth=0.8, ax=ax, edgecolor='0.8', figsize=(100,200))

In [ ]:
pickup_geoJSON = pickup_gdf[['LocationID','geometry']].drop_duplicates('LocationID').to_json()
dropoff_geoJSON = dropoff_gdf[['LocationID','geometry']].drop_duplicates('LocationID').to_json()

In [ ]:
m_pickups = folium.Map(location=[40.66, -73.94], tiles="Stamen Terrain", zoom_start=10)

# refer to the folium documentations on more information on how to plot aggregated data.
folium.Choropleth(
    geo_data=pickup_geoJSON, # geoJSON 
    name='choropleth', # name of plot
    data=pickup_location_data, # data source
    columns=['LocationID','count'], # the columns required
    key_on='properties.LocationID', # this is from the geoJSON's properties
    fill_color='OrRd', # color scheme
    fill_opacity=0.9,
    line_opacity=0.5,
    legend_name='Trips' # legend title
).add_to(m_pickups)

m_pickups.save('../plots/JulyfoliumChoroplethPickups.html')
m_pickups

In [ ]:
m = folium.Map(location=[40.66, -73.94], tiles="Stamen Terrain", zoom_start=10)

# for coordinate in geoJSON["coordinates"]:
#     longlat
# # refer to the folium documentations on how to plot aggregated data.
# folium.Circle(
#     radius=100,
#     location=geoJSON,
#     data = pickup_gdf,
#     popup=geoJSON,
#     color="crimson",
#     fill=False,
# ).add_to(m)
# m.add_child(folium.Choropleth(geo_data="../raw_data/Borough Boundaries.geojson", name='choropleth', fill_color = "white"))
# m.add_child(folium.Choropleth(geo_data=geoJSON, name='choropleth'))
m.add_child(folium.Choropleth(geo_data=dropoff_geoJSON,
                              name='choropleth',
                              data = dropoff_merged, 
                              columns = ['LocationID', 'count'],
                              key_on = 'properties.LocationID',
                              bins = 8,
                              fill_color = "GnBu",
                              nan_fill_color =  "yellow",
                              fill_opacity = 1,
                              line_opacity = 0.4
                             ))
m.save('../plots/JulyfoliumChoroplethDropoffs.html')
m

In [ ]:
plt.show()

In [ ]:
plt.clf()

In [ ]:
df["fare_amount"].describe()

In [ ]:
df[['passenger_count', 'trip_distance']].plot.scatter(x='passenger_count',
                                                  y='trip_distance')
# print(df.loc[df["fare_amount"] > 400])
plt.show()

In [ ]:
sns.distplot(df['fare_amount'], bins=30)

plt.show()

In [ ]:
sns.distplot(df['fare_amount'], bins=30)

plt.show()

In [ ]:
from numpy import log, sqrt

# apply a log transformation for all x non-zero x points, else 0
def logify(x):
    return log(x) if x else 0

sns.distplot(df['fare_amount'].apply(logify), bins=50)
plt.show()

In [ ]:
data = df.loc[df['trip_distance'] <= 15, 'trip_distance']

sns.distplot(data, bins=30)
plt.show()

In [ ]:
# pearson (by default) correlation table for distance and fare amount
df[['trip_distance','fare_amount']].corr(method='pearson')

In [ ]:
sns.heatmap(df.corr())
# wow that's easy...

plt.show()

In [ ]:
CORR_COLS = ["passenger_count", "trip_distance", "fare_amount", "extra", 
 "mta_tax", "tip_amount", "tolls_amount", "improvement_surcharge", "total_amount"]

df[CORR_COLS].corr()

In [ ]:
sns.heatmap(df[CORR_COLS].corr())
plt.show()

In [ ]:
world = gpd.read_file(gpd.datasets.get_path('nybb'))

# We restrict to South America.
ax = world.plot(
    color='white', edgecolor='black')

# We can now plot our ``GeoDataFrame``.
shapefile.plot(ax=ax, color='red')

plt.show()